* {
    border: 2px solid red;
  }

body {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.header {
  display: flex;
  margin: 0.5em;
}

.content1 {
  display: flex;
  justify-content: center;
  margin: 1em;
}
.content2 {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.content3 {
  display: flex;
  align-items: center;
  margin: 1em;
  flex-direction: column;
}

.content4 {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.footer {
  text-align: center;
}